Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
python-decouple
drf-spectacular
djoser
django-constance[redis]
django-recurrence
celery[redis]
redis
gunicorn