
.container {
    min-height: 100vh;
}

.card {
    max-width: 620px;
    width: 100%;
    padding-bottom: 32px;
}

.title_text {
    margin: 0px;
}

.description {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 48px;
}

