{% load i18n %}

{% block subject %}
Reset hasła w {{ site_name }}
{% endblock subject %}

{% block text_body %}
Otrzymujesz tę wiadomość, ponieważ poprosiłeś o reset hasła do konta w {{ site_name }}.

Ustaw nowe hasło, przechodząc pod adres:
{{ protocol }}://{{ domain }}/{{ url|safe }}

Twój login (adres e-mail): {{ user.email }}

Dziękujemy,
Zespół {{ site_name }}
{% endblock text_body %}

{% block html_body %}
<p>Otrzymujesz tę wiadomość, ponieważ poprosiłeś o reset hasła do konta w <strong>{{ site_name }}</strong>.</p>
<p><a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">Ustaw nowe hasło</a></p>
<p>Twój login (adres e-mail): <strong>{{ user.email }}</strong></p>
<p>Dziękujemy,<br>Zespół {{ site_name }}</p>
{% endblock html_body %}
